 //variable
 @import'./clases.scss';
//  color
    $color01 :black;
    $color02:#707070;
    $color03:#2E2E2E;
    $color04:#F8F8F8;

// font size
    $size02:30px;
    $size03:20px;
    $size05:40px;
    $size06:18px;
    $size07:24px;
    $size08:13px;
   